<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="Default" 
			 connectionString="server=localhost;Integrated security=yes;
			 Database=EmpleadosEF_10 ;TrustServerCertificate=true" 
			 providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>